body {
    background-color:#FFFF00;
}
.content {   
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.header {
    width: 40%;
    margin-left: 10px;
}

.header-title{
    display: flex;
    align-items: center;
    font-size: 25px;
}
.header-image{
    width: 50px;
    height: 50px;
    padding-right: 10px;
}
.content-description{
    padding: 20px;
    text-align: center;
}